* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(1, 19, 31);
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
}
.navbar-container > ul {
  display: flex;
  list-style: none;
}
.navbar-container > ul > li {
  text-transform: uppercase;
  margin-right: 40px;
  color: white;
  letter-spacing: 0.1rem;
  opacity: 50%;
  transition: opacity 0.5s;
}
.navbar-container > ul > li:hover {
  opacity: 100%;
  cursor: pointer;
}

/* Showcase */
.showcase-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/bg-inicial.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.showcase-container > h1 {
  font-weight: 600;
  font-size: 4rem;
}
.showcase-container > p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  color: #eee;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  letter-spacing: 0.15rem;
}
/* PROJETOS */
.projects-content {
  margin-top: 118px;
}

.projects-content .project-item:nth-child(2),
.projects-content .project-item:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.projects-content .project-item > .teste {
  order: 2;
  margin-left: 50px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.projects-content .project-item > .project-text {
  order: 1;
}

.project-item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.project-text > p {
  color: #fff;
  opacity: 75%;
  line-height: 29px;
}
.project-text {
  margin-left: 50px;
  max-width: 600px;
}
.project-text > h3 {
  color: white;
  font-weight: 500;
  font-size: 2.25rem;
}
.project-image-detail {
  background-size: cover;
  width: 250px;
  height: 250px;
  border: 2px solid #fff;
  border-radius: 20px;
}
.project-image-detail:hover {
  width: 270px;
  height: 270px;
  border: 6px solid dodgerblue;
  transition: 1s;
}
.project-item-image-one {
  background-image: url("./images/ntf.png");
  background-position: center;
}
.project-item-image-two {
  background-image: url("./images/quiz-maturidade.png");
}
.project-item-image-three {
  background-image: url("./images/quiz-profissional.png");
}
/* .project-item-image-four {
  background-image: url("./images/fsw-donalds.png");
} */
/* Utilities */

.section-container {
  width: 100%;
  background-color: rgb(1, 19, 31);
  padding-bottom: 120px;
  padding-top: 120px;
}
.section-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1.5px solid #fff;
  text-align: center;
  width: fit-content;
  margin: auto;
}
/* SOBRE MIM */
.about-me-content {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.about-me-content img {
  width: 320px;
  height: 320px;
  margin-right: 50px;
  border-radius: 50%;
}

.about-me-content p {
  color: white;
  line-height: 2rem;
}
/* HABILIDADES */
.skills-content {
  display: flex;
  justify-content: space-between;
  margin-top: 108px;
}
.skill-item {
  background-color: rgb(7, 56, 88);
  width: 25%;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-item:hover {
  border: 2px solid #fff;
  transition: 0.5s;
}
.skill-item span {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  font-weight: 500;
}
.skill-item p {
  color: white;
  opacity: 75%;
}
.footer-container {
  width: 100%;
  background-color: rgb(7, 50, 80);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.footer-container .social-items a {
  margin-right: 25px;
}
.footer-container .social-items a:hover {
  cursor: pointer;
}
